<div class="brandContainer">
    <h2 class="brandheader">⏤ Trusted Brands ⏤</h2>
    <div class="brandLogoContainer">
        <img class="brandImg" src="/images/brandimg.webp" alt="valvoline logo">
        <img class="brandImg" src="/images/brandimg2.webp" alt="mobil logo">
        <img class="brandImg" src="/images/brandlogo3.webp" alt="continental logo">
        <img class="brandImg" src="/images/brandlogo4.webp" alt=" logo">
        <img class="brandImg" src="/images/brandlogo5.webp" alt="duralast logo">
        <img class="brandImg" src="/images/brandlogo6.webp" alt="versachem logo">
        

    </div>
</div>




<div class="row">
    {{#each data as |store|}}
    <div class="col-4">
        <div class="card m-5 text-center shadow-lg" id="blogPost{{store.id}}" style="width: 13rem;">
            <div class="card-body">
                <h5 class="card-title">{{store.store_name}}</h5>
                <p class="card-text">{{store.location}}</p>
                <span class="card-text">{{store.hours_operation}}</span>

                <img class="store_img" src="{{store.store_img}}" alt="storefront">
                <img class="url" src="{{store.url}}" alt="storefront"> 
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>