
<h2 class="brandheader">⏤ Trusted Brands ⏤</h2>
  <div class="brandcontainer">
    <div class="row">
      <div class="col order-last">
       <img id="imgStyle" class="brandImg" src="/images/brandimg.webp" alt="valvoline logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandimg2.webp" alt="mobil logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo3.webp" alt="continental logo"/>
      </div>
      <div id="imgStyle" class="col">
       <img  class="brandImg" src="/images/brandlogo4.webp" alt="bosch logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo5.webp" alt="duralast logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo6.webp" alt="duralast logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo7.webp" alt="duralast logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo8.webp" alt="duralast logo" />
      </div>
      <div id="imgStyle" class="col">
        <img  class="brandImg" src="/images/brandlogo9.webp" alt="duralast logo" />
      </div>
      <div id="imgStyle" class="col order-first">
        <img  class="brandImg" src="/images/brandlogo10.webp" alt="duralast logo" />
      </div>


<div class="row">
  {{#each data as |store|}}
    <div class="col-4">
      <div
        class="cardStyle"
        class="card m-5 text-center shadow-lg"
        id="blogPost{{store.id}}"
        style="width: 13rem;"
      >
        <div class="card-body">
          <h5 class="card-title">{{store.store_name}}</h5>
          <p class="card-text">{{store.location}}</p>
          <span class="card-text">{{store.hours_operation}}</span>

          <img class="store_img" src="{{store.store_img}}" alt="storefront" />
          <img class="url" src="{{store.url}}" alt="storefront" />

<div class="row h-100">
    {{#each data as |store|}}
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card m-5 text-center shadow-lg storeCard" id="blogPost{{store.id}}"
            onclick="handleStoreClick('{{store.id}}')">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h5 class="card-title">{{store.store_name}}</h5>
                        <p class="card-text">{{store.location}}</p>
                        <span class="card-text">{{store.hours_operation}}</span>
                    </div>
                    <div class="col-6">
                        <img class="store_img" src="{{store.store_img}}" alt="storefront">
                        <img class="url" src="{{store.url}}" alt="storefront">
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>


<script
  src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"
></script>
=======
<script src="js/homepage.js"></script>

