<section class="brandContainer">
    <h2 class="brandheader">⏤ Trusted Brands ⏤</h2>
    <div class="brandLogoContainer">
        <img class="brandImg" src="/images/brandimg.webp" alt="valvoline logo">
        <img class="brandImg" src="/images/brandimg2.webp" alt="mobil logo">
        <img class="brandImg" src="/images/brandlogo3.webp" alt="continental logo">
        <img class="brandImg" src="/images/brandlogo4.webp" alt="bosch logo">
        <img class="brandImg" src="/images/brandlogo5.webp" alt="duralast logo">
        <img class="brandImg" src="/images/brandlogo6.webp" alt="versachem logo">
        <img class="brandImg" src="/images/brandlogo7.webp" alt="castrol logo">
        <img class="brandImg" src="/images/brandlogo8.webp" alt="fel-pro logo">
        <img class="brandImg" src="/images/brandlogo9.webp" alt="peak logo">
        <img class="brandImg" src="/images/brandlogo10.webp" alt="pennzoil logo">
    </div>
</section>




<div class="row h-100">
    {{#each data as |store|}}
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card m-5 text-center shadow-lg storeCard" id="blogPost{{store.id}}"
            onclick="handleStoreClick('{{store.id}}')">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h5 class="card-title">{{store.store_name}}</h5>
                        <p class="card-text">{{store.location}}</p>
                        <span class="card-text">{{store.hours_operation}}</span>
                    </div>
                    <div class="col-6">
                        <img class="store_img" src="{{store.store_img}}" alt="storefront">
                        <img class="url" src="{{store.url}}" alt="storefront">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="js/homepage.js"></script>