
<h2 class="brandheader">⏤ Trusted Brands ⏤</h2>
  <div class="brandcontainer">
    <div class="row">
      <div class="col order-last">
        <a href="https://www.valvoline.com/" target="_blank">
       <img id="imgStyle" class="brandImg" src="/images/brandimg.webp" alt="valvoline logo"></a>
      </div>
      <div id="imgStyle" class="col">
        <a href="https://www.mobil.com/en/" target="_blank">
        <img  class="brandImg" src="/images/brandimg2.webp" alt="mobil logo"></a>
      </div>
      <div id="imgStyle" class="col">
        <a href="https://www.continental.com/en" target="_blank">
        <img  class="brandImg" src="/images/brandlogo3.webp" alt="continental logo"></a>
      </div>
      <div id="imgStyle" class="col">
        <a href="https://www.bosch.com/" target="_blank">
       <img  class="brandImg" src="/images/brandlogo4.webp" alt="bosch logo"></a>
      </div>
      <div id="imgStyle" class="col">
          <a href="https://www.duralastparts.com/" target="_blank">
        <img  class="brandImg" src="/images/brandlogo5.webp" alt="duralast logo"></a>
      </div>
      <div id="imgStyle" class="col">
          <a href="https://www.itwgb.com/our-brands/versachem/" target="_blank">
        <img  class="brandImg" src="/images/brandlogo6.webp" alt="duralast logo"></a>
      </div>
      <div id="imgStyle" class="col">
        <a href="https://www.castrol.com/" target="_blank">
        <img  class="brandImg" src="/images/brandlogo7.webp" alt="duralast logo"></a>
      </div>
      <div id="imgStyle" class="col">
          <a href="https://www.felpro.com/" target="_blank">
        <img  class="brandImg" src="/images/brandlogo8.webp" alt="duralast logo"></a>
      </div>
      <div id="imgStyle" class="col">
          <a href="https://www.owi.com/retail/brands/peak-auto" target="_blank">
        <img  class="brandImg" src="/images/brandlogo9.webp" alt="duralast logo"></a>
      </div>
      <div id="imgStyle" class="col order-first">
          <a href="https://www.pennzoil.com/#iframe=L3NvcHVzL3Blbm56b2lsL25ld3NsZXR0ZXI" target="_blank">
        <img  class="brandImg" src="/images/brandlogo10.webp" alt="duralast logo"></a>
      </div>
    </div>
</div>


<div class="row h-100">
    {{#each data as |store|}}
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card m-5 text-center shadow-lg storeCard" id="blogPost{{store.id}}"
            onclick="handleStoreClick('{{store.id}}')">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h5 class="card-title">{{store.store_name}}</h5>
                        <p class="card-text">{{store.location}}</p>
                        <span class="card-text">{{store.hours_operation}}</span>
                    </div>
                    <div class="col-6">
                        <img class="store_img" src="{{store.store_img}}" alt="storefront">
                        <img class="url" src="{{store.url}}" alt="storefront">
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="js/homepage.js"></script>

