<div class="row">
    {{#each data2 as |part|}}
    <div class="col-4">
        <div class="card m-5 shadow-lg" style="width: 30rem;">
            <div class="card-body">
                <h2 style="text-align:center" id="card-id"> Part ID #: {{part.id}}</h2>
                <h2 style="text-align:center" id="card-category">{{part.category}}</h2>
                <h5 style="text-align:center" id="card-name">Name: {{part.part_name}}</h5>
                <p style="text-align:center" id="card-price"><strong>Price: </strong> ${{part.price}}</p>
                <p style="text-align:center" id="card-stock"><strong>Units in Stock: </strong> {{part.stock}}</p>
                <p style="text-align:center" class="card-description"> <strong>Part Description: </strong> {{part.description}}</p>
                <p style="text-align:center" class="card-store_id"><strong>Store ID: </strong> {{part.store_id}}</p>
                <div>
                    <div class="updatePartBtn" {{>updatePart}}></div>
                </div>


                <button id= "deleteBtn" type="button" class="btn btn-secondary" onclick="deleteButtonHandler()">Delete Part</button>
                <button type="button" class="btn btn-secondary" onclick="showReview()">Show Reviews</button>
                <button type="button" class="btn btn-secondary" onclick="newReview()">New Review</button>

      

            </div>
        </div>
    </div>
    {{/each}}
</div>


<script src-"../js/reviews.js"></script>
<script src="../js/delete-part.js"></script>