<div class="row">
    {{#each data2 as |part|}}
    <div class="col-xl-4 col-md-8 col-12">
        <div class="card m-5 shadow-lg h-100" style="width: 30rem;">
            <div class="columns is-narrow card-body">
                <h2 style="text-align:center" id="card-id"> Part ID #: {{part.id}}</h2>
                <h2 style="text-align:center" id="card-category">{{part.category}}</h2>
                <h5 style="text-align:center" id="card-name">{{part.part_name}}</h5>
                <p style="text-align:center" id="card-price"><strong>Price: </strong> ${{part.price}}</p>
                <p style="text-align:center" id="card-stock"><strong>Units in Stock: </strong> {{part.stock}}</p>
                <p style="text-align:center" class="card-description"> <strong>{{part.description}}</strong></p>
                <p style="text-align:center" class="card-store_id"><strong>Store ID: </strong> {{part.store_id}}</p>
                <div>
                    <div class="updatePartBtn">{{>updatePart}}</div>
                </div>
                <div class="btnContainer">
                    <button id="udBtn" class="btn btn-secondary" onclick="showUpdateModal()">Update Part</button>
                    <button id="deleteBtn" type="button" class="btn btn-secondary"
                        onclick="deleteButtonHandler()">Delete Part</button>
                    <button id="srBtn" type="button" class="btn btn-secondary" onclick="showReview('{{part.id}}')">Show
                        Reviews</button>
                    <button id="nrBtn" type="button" class="btn btn-secondary" onclick="newReview('{{part.id}}')">New
                        Review</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="modal fade" id="newReviewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Review for Part: </h5>
                <h5 class="modal-title" id="modalPartID"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="reviewContent"></label>
                        <input type="textarea" class="form-control" id="reviewContent" placeholder="Enter your review">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeReviewModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveReviewModal()">Submit</button>
            </div>
        </div>
    </div>
</div>


<script src="../js/reviews.js"></script>
<script src="../js/delete-part.js"></script>